{% load static %}
<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'main.css' %}">
		<title>Alpha X Edge</title>
	</head>
	<body>
		<div>
			<img id="headerImage" src="{% static 'logo1.png' %}">
		</div>
		<div>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="members/">Members</a></li>
					<div class="dropdown">
						<li>Django Docs</li>
						<div class="dropdown-content">
							<a href="https://www.w3schools.com/django/index.php" target="_blank">W3 Schools</a>
							<a href="https://realpython.com/get-started-with-django-1/" target="_blank">Real Python</a>
							<a href="https://docs.djangoproject.com/en/4.2/" target="_blank">Django Docs</a>
						</div>
					</div>
					<li><a href="members/">FAQ</a></li>
				</ul>
			</nav>
		</div>
		<main>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
		</main>
		<footer>
			<h3>FOOTER</h3>
		</footer>		
	</body>
</html>
