{% load static %}
<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'global.css' %}">
		<link rel="stylesheet" href="{% static 'main.css' %}">
		<title>Alpha X Edge</title>
	</head>
	<body>
		<header>
			<img src="{% static 'logo1.png' %}">
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="members/">Members</a></li>
					<div class="dropdown">
						<li>Django Docs</li>
						<div class="dropdown-content">
							<a href="https://www.w3schools.com/django/index.php" target="_blank">W3 Schools</a>
							<a href="https://realpython.com/get-started-with-django-1/" target="_blank">Real Python</a>
							<a href="https://docs.djangoproject.com/en/4.2/" target="_blank">Django Docs</a>
						</div>
					</div>
					<li><a href="testing/">Test</a></li>
					<li><a href="members/">FAQ</a></li>
				</ul>
			</nav>
			<hr>
		</header>
		<main>
			<div class='hero_container'>
				<span class='hero_message'>aefr ajkof aejkhg aderfghzgdfbh fdghzfdg xzgfhgf fgh aejfhg akl</span>
				<img class='hero_image' src="{% static 'Candlesticks.png' %}">
			</div>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
			<p>stuff</p>
		</main>
		<footer>
			<h3>FOOTER</h3>
		</footer>		
	</body>
</html>
